USE [master]
GO
/****** Object:  Database [SALOMON NEUMATICOS]    Script Date: 23/08/2023 08:19:39 p. m. ******/
CREATE DATABASE [SALOMON NEUMATICOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SALOMON NEUMATICOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SALOMON NEUMATICOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SALOMON NEUMATICOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SALOMON NEUMATICOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SALOMON NEUMATICOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SALOMON NEUMATICOS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 23/08/2023 08:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[NOMBRE] [char](10) NOT NULL,
	[DIRECCION] [char](10) NULL,
	[CONTACTO] [int] NULL,
	[MARCA DE VEHICULO] [char](10) NULL,
	[CORREO] [char](10) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEUMATICOS DEL AÑO]    Script Date: 23/08/2023 08:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEUMATICOS DEL AÑO](
	[DIMENSIONES] [nchar](10) NULL,
	[AÑO DE FABRICACION] [nchar](10) NOT NULL,
	[PROFUNDIDAD] [nchar](10) NULL,
	[TIPO DE NEUMATICO] [nchar](10) NULL,
	[PRESION IDEAL] [nchar](10) NULL,
	[PRECIO] [nchar](10) NULL,
 CONSTRAINT [PK_NEUMATICOS DEL AÑO] PRIMARY KEY CLUSTERED 
(
	[AÑO DE FABRICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEUMATICOS USADOS]    Script Date: 23/08/2023 08:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEUMATICOS USADOS](
	[DIMENSIONES] [int] NOT NULL,
	[[AÑO DE FABRICACION] [int] NULL,
	[PROFUNDIDAD] [int] NULL,
	[TIPO DE NEUMATICO] [nchar](10) NULL,
	[PRESION IDEAL] [int] NULL,
	[PRECIO] [int] NULL,
 CONSTRAINT [PK_NEUMATICOS USADOS] PRIMARY KEY CLUSTERED 
(
	[DIMENSIONES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECNICOS]    Script Date: 23/08/2023 08:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECNICOS](
	[NOMBRE] [nchar](10) NOT NULL,
	[CODIGO] [nchar](10) NULL,
	[NIVEL] [nchar](10) NULL,
	[FECHA DE ENTRADA] [nchar](10) NULL,
	[HORARIO] [nchar](10) NULL,
 CONSTRAINT [PK_TECNICOS] PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO DE SERVICIOS]    Script Date: 23/08/2023 08:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO DE SERVICIOS](
	[ROTCION] [char](10) NOT NULL,
	[CAMBIO] [nchar](10) NULL,
	[ALINEACION] [nchar](10) NULL,
	[REPARACION] [nchar](10) NULL,
	[DIAGNOSTICO] [nchar](10) NULL,
	[COMPLETAR PRESION] [int] NULL,
 CONSTRAINT [PK_TIPO DE SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ROTCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTES] ([NOMBRE], [DIRECCION], [CONTACTO], [MARCA DE VEHICULO], [CORREO]) VALUES (N'ADA PEREZ ', N'LOS MINA  ', 849876432, N'HONDA     ', N'AP@GMAIL  ')
INSERT [dbo].[CLIENTES] ([NOMBRE], [DIRECCION], [CONTACTO], [MARCA DE VEHICULO], [CORREO]) VALUES (N'JOSE LOPEZ', N'LOS PRADOS', 849012433, N'SUBARU    ', N'JLP@GMAIL ')
INSERT [dbo].[CLIENTES] ([NOMBRE], [DIRECCION], [CONTACTO], [MARCA DE VEHICULO], [CORREO]) VALUES (N'JUAN MEJIA', N'ALMA ROSA ', 829998754, N'MERCEDEZ  ', N'JM@GMAIL  ')
GO
INSERT [dbo].[NEUMATICOS DEL AÑO] ([DIMENSIONES], [AÑO DE FABRICACION], [PROFUNDIDAD], [TIPO DE NEUMATICO], [PRESION IDEAL], [PRECIO]) VALUES (N'15        ', N'1999      ', N'0.8       ', N'CARRETERA ', N'30PSI     ', N'5000      ')
INSERT [dbo].[NEUMATICOS DEL AÑO] ([DIMENSIONES], [AÑO DE FABRICACION], [PROFUNDIDAD], [TIPO DE NEUMATICO], [PRESION IDEAL], [PRECIO]) VALUES (N'16        ', N'2001      ', N'0.8       ', N'CARRETERA ', N'35PSI     ', N'3000      ')
INSERT [dbo].[NEUMATICOS DEL AÑO] ([DIMENSIONES], [AÑO DE FABRICACION], [PROFUNDIDAD], [TIPO DE NEUMATICO], [PRESION IDEAL], [PRECIO]) VALUES (N'20        ', N'2003      ', N'0.7       ', N'ALL SEASON', N'35PSI     ', N'6500      ')
GO
INSERT [dbo].[NEUMATICOS USADOS] ([DIMENSIONES], [[AÑO DE FABRICACION], [PROFUNDIDAD], [TIPO DE NEUMATICO], [PRESION IDEAL], [PRECIO]) VALUES (12, 2001, 4, N'INVIERNO  ', 35, 2000)
INSERT [dbo].[NEUMATICOS USADOS] ([DIMENSIONES], [[AÑO DE FABRICACION], [PROFUNDIDAD], [TIPO DE NEUMATICO], [PRESION IDEAL], [PRECIO]) VALUES (13, 1999, 4, N'CARRETERA ', 30, 1500)
INSERT [dbo].[NEUMATICOS USADOS] ([DIMENSIONES], [[AÑO DE FABRICACION], [PROFUNDIDAD], [TIPO DE NEUMATICO], [PRESION IDEAL], [PRECIO]) VALUES (14, 2005, 5, N'CARRETERA ', 30, 2000)
GO
INSERT [dbo].[TECNICOS] ([NOMBRE], [CODIGO], [NIVEL], [FECHA DE ENTRADA], [HORARIO]) VALUES (N'FELIZ NAA ', N'3365      ', N'A         ', N'2013      ', N'NOCTURNO  ')
INSERT [dbo].[TECNICOS] ([NOMBRE], [CODIGO], [NIVEL], [FECHA DE ENTRADA], [HORARIO]) VALUES (N'FRANCO KIL', N'3360      ', N'B         ', N'2023      ', N'NOCTURNO  ')
INSERT [dbo].[TECNICOS] ([NOMBRE], [CODIGO], [NIVEL], [FECHA DE ENTRADA], [HORARIO]) VALUES (N'JOEL RUIZ ', N'3321      ', N'B         ', N'2011      ', N'NOCTURNO  ')
GO
INSERT [dbo].[TIPO DE SERVICIOS] ([ROTCION], [CAMBIO], [ALINEACION], [REPARACION], [DIAGNOSTICO], [COMPLETAR PRESION]) VALUES (N'1200      ', N'2500      ', N'432       ', N'2000      ', NULL, NULL)
INSERT [dbo].[TIPO DE SERVICIOS] ([ROTCION], [CAMBIO], [ALINEACION], [REPARACION], [DIAGNOSTICO], [COMPLETAR PRESION]) VALUES (N'1800      ', N'2700      ', N'850       ', N'2000      ', NULL, NULL)
INSERT [dbo].[TIPO DE SERVICIOS] ([ROTCION], [CAMBIO], [ALINEACION], [REPARACION], [DIAGNOSTICO], [COMPLETAR PRESION]) VALUES (N'2000      ', N'1500      ', N'800       ', N'1000      ', NULL, NULL)
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_CLIENTES] FOREIGN KEY([NOMBRE])
REFERENCES [dbo].[CLIENTES] ([NOMBRE])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_CLIENTES]
GO
ALTER TABLE [dbo].[TIPO DE SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_TIPO DE SERVICIOS_TECNICOS] FOREIGN KEY([DIAGNOSTICO])
REFERENCES [dbo].[TECNICOS] ([NOMBRE])
GO
ALTER TABLE [dbo].[TIPO DE SERVICIOS] CHECK CONSTRAINT [FK_TIPO DE SERVICIOS_TECNICOS]
GO
USE [master]
GO
